<div class="col-md-4">
	<h1>Open Games</h1>
	<% @games = open_games %>
	<% if current_user && !current_user.in_game && !current_user.game_started %>
	    <%= link_to "Create Game", create_path, class: "btn btn-primary" %>
	<% end %> 

	<% if @games %>
	        <ul>
	        	<% @games.each do |game| %>
	          	<%= render 'layouts/display_players', :game => game %>
		          <% if current_user %>
		          	<% if !current_user.in_game %>
					  		<%= render 'layouts/join_game', :game => game %>
					  		<% elsif current_user.in_game && !current_user.game_started %>
					  			<% if game.players.include? current_user.id %>
										<%= link_to "Leave Game", cancel_path(:gameid => game.id), class: "btn btn-danger" %><br>
										<% end %>
								<% end %>
					  	<% end %>
	       		<% end %>
	        </ul>
	<% end %>
</div>